<%- include('../partials/header') %>
<table id="schedule">
  <thead>
    <tr>
      <th>Airline</th>
      <th>Flight</th>
      <th>Origin</th>
      <th>Departure</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
    <% flights.sort((a, b) => new Date(a.departs) - new Date(b.departs)) %>
    <% flights.forEach(flight => { %>
    <tr <%- flight.departs < new Date() ? 'style="color:red;"' : '' %>>
      <td><%= flight.airline %></td>
      <td><%= flight.flightNo %></td>
      <td><%= flight.airport %></td>
      <td><%= flight.departs.toString().slice(0, 21) %></td>
      <td><a href="/flights/<%= flight.id %>">DETAILS</a></td>
    </tr>
    <% }); %>
  </tbody>
</table>
<%- include('../partials/footer') %>