<%- include('../partials/header') %>
<h2>Itinerary:</h2>
<section>
  <ul>
    <li>Departing from <b><%= flight.airport %></b> on <%= flight.departs.toString().slice(0, 15) %> at <b><%= flight.departs.toString().slice(16, 21) %></b></li>
    <% flight.destinations.sort((a, b) => new Date(a.arrival) - new Date(b.arrival)) %>
    <% flight.destinations.forEach(destination => { %>
    <li>Arriving at <b><%= destination.airport %></b> on <%= destination.arrival.toString().slice(0, 15) %> at <b><%= destination.arrival.toString().slice(16, 21) %></b></li>
    <% }); %>
  </ul>
  <br>
  <form action="/flights/<%= flight.id %>/destinations" method="POST">
    <label>Airport of Destination:</label>
    <br>
    <select name="airport">
      <% available.forEach(validAirport => { %>
      <option value="<%= validAirport %>"><%= validAirport %></option>
      <% }); %>
    </select>
    <br>
    <br>
    <label>Arrival Date & Time:</label>
    <br>
    <input type="datetime-local" name="arrival" value="<%= DEFAULT_DATE %>">
    <br>
    <br>
    <br>
    <button type="submit">Add Stop</button>
    <br>
    <br>
  </form>
</section>
<h2>Tickets:</h2>
<section>
  <ul>
    <% tickets.forEach(ticket => { %>
    <li>Seated at <b><%= ticket.seat %></b> for <b>$<%= ticket.price %></b>(USD) <a href="/flights/<%= flight._id %>/tickets/<%= ticket._id %>/delete">DELETE</a></li>
    <% }); %>
  </ul>
  <a href="/flights/<%= flight._id %>/tickets/new">New Ticket</a>
</section>
<%- include('../partials/footer') %>